<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @round.course %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @round.weather %>
</p>

<p>
  <strong>Date:</strong>
  <%= @round.date %>
</p>

<p>
  <strong>Hole1:</strong>
  <%= @round.hole1 %>
</p>

<p>
  <strong>Hole2:</strong>
  <%= @round.hole2 %>
</p>

<p>
  <strong>Hole3:</strong>
  <%= @round.hole3 %>
</p>

<p>
  <strong>Hole4:</strong>
  <%= @round.hole4 %>
</p>

<p>
  <strong>Hole5:</strong>
  <%= @round.hole5 %>
</p>

<p>
  <strong>Hole6:</strong>
  <%= @round.hole6 %>
</p>

<p>
  <strong>Hole7:</strong>
  <%= @round.hole7 %>
</p>

<p>
  <strong>Hole8:</strong>
  <%= @round.hole8 %>
</p>

<p>
  <strong>Hole9:</strong>
  <%= @round.hole9 %>
</p>

<%= link_to 'Edit', edit_round_path(@round) %> |
<%= link_to 'Back', rounds_path %>
